:root{
--background-color:#FFFFFF;
--color: #2e2f42;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:(var(--background-color));

}

.logo {
    font-family: "Raleway",  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link {
    text-decoration: none
}

.span {
    color: #2e2f42;
}

.list {
    list-style: none;
}

.home {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:(var(--color));
}

.address{
    font-style: normal;
    
}

.motto{
    background-color:(var(--color))
}
.motto-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}