:root{
--background-color:#FFFFFF;
--b-color: #2e2f42;
--button-color:#4d5ae5;
--button-bc:#F4F4FD;
--pt-color: #434455; 
--border-button: #e7e9fc ;
}

img{
    display: block;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section {
    padding-bottom: 120px ;
    }

.link {
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: #404bbf;
}

.list {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: #434455;
    margin: auto 0;
}

                                /*****div*****/
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

                                /***** heder *****/
.header{
    border-bottom: 1px solid #e7e9fc;
    padding:24px  0 ;
    box-shadow: зі значенням 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top{
    display: flex;
    justify-content: space-between;
}


.navigation{
    display: flex; 
    align-items: center;

}


                                /***** logo *****/
.logo {
    font-family: "Raleway",  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span {
    color: #2e2f42;
}

                                /***** menu *****/
.menu-list{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px; 
    gap: 40px;
}

.home {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--b-color);
    padding: 24px 0;
    position: relative;
}
.home:hover,
.home:focus{
    color: #404bbf;
}

                                /***** address *****/
.address{
    font-style: normal;
    margin-left: auto;
}

.mail{
    color:var(--pt-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}


                                /***** MAIN *****/

                                /***** section 1 *****/
.motto{
    background-color: var(--b-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(/images/people-office\ 1.png);
    background-repeat: no-repeat;
}

.motto-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer ;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button:hover,
.button:focus{
    background-color: #404BBF;
}

                                /***** section 2 *****/
.general{
    padding: 120px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}

.section-list{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
    gap: 24px; 
}

.element{
    width: calc((100% - 3 * 24px) / 4);
}

.img-icons{
    width: 264px;
    height: 112px;
}


.list-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    color: var(--b-color);
    max-width: 496px; 
    margin-bottom: 8px; 
} 

.section-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

                                /***** section 3 *****/
.to-do{
padding-bottom: 120px;
}

.section-name{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--b-color);
    margin-bottom: 72px; 

}

.do-it{
    width: calc((100% - 48px) / 3);
}

                                /***** section 4 *****/
.section-team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-member{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px; 
    width: calc((100% - 72px) / 4); 
}

.personage{
    padding: 32px 16px;

}

.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--b-color);
    text-align: center;
    margin-bottom: 8px;
}

.duties{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center; 
}

.social-list{

}


                                /***** footer *****/
.footer{
    background-color: var(--b-color);
    padding: 100px 0;
}

.span-footer{
    color: #f4f4fd;
}

.footer-text{
    line-height: 24px;
    width:  264px ;
    letter-spacing: 0.02em ;
    color: var(--button-bc);
}

.logo-footer{
    font-family: "Raleway",  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}


            /***************************** PORTFOLIO *******************************/
                                /***** main-portfolio *****/
.main-portfolio{
    padding-top: 96px;
}


                                /***** navigation-portfolio *****/
.button-all{
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-color);
    background-color: var(--button-bc);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-button);
    border-radius: 4px;     
    }

.button-all:hover,
.button-all:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent
}

.portfolio-button{

}

.prt-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px
}

                                /***** card-portfolio *****/

.card-card{    
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;}


.card{
    
}


.card-list{
    width: calc((100% - 48px) / 3); 
}

.conteiner-card{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.product{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    color: var(--b-color);
    margin-bottom: 8px;
}

.product-type{
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color:var(--pt-color);
}


