:root{
--background-color:#FFFFFF;
--b-color: #2e2f42;
--button-color:#4d5ae5;
--button-bc:#F4F4FD;
--pt-color: #434455; 
--border-button: #e7e9fc ;
--c-cast: #8e8f99;

}

img{
    display: block;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section {
    padding-bottom: 120px ;
    }

.link {
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: #404bbf;
}

.list {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: #434455;
    margin: auto 0;
}

                                /*****div*****/
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

                                /***** heder *****/
.header{
    border-bottom: 1px solid #e7e9fc;
    padding:24px  0 ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top{
    display: flex;
    justify-content: space-between;
}


.navigation{
    display: flex; 
    align-items: center;

}


                                /***** logo *****/
.logo {
    font-family: "Raleway",  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span {
    color: #2e2f42;
}

                                /***** menu *****/
.menu-list{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px; 
    gap: 40px;
}

.home {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #404bbf;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)  ;
}
.home:hover,
.home:focus{
    color: #404bbf;
}
.home::after{
    position: absolute;
    left: 0;
    bottom: -1px; 
    height: 4px; 
    background-color: #404bbf; 
    border-radius: 2px;
    content: '' 

}

                                /***** address *****/
.address{
    font-style: normal;
    margin-left: auto;
}

.mail{
    color:var(--pt-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


                                /***** MAIN *****/

                                /***** section 1 *****/
.motto{
    background-color: var(--b-color);
    padding: 188px 0;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office\ 1.png) ;
    max-width: 1440px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}

.motto-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer ;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.button:hover,
.button:focus{
    background-color: #404BBF;
}

                                /***** section 2 *****/
.general{
    padding: 120px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}

.section-list{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
    gap: 24px; 
}

.element{
    width: calc((100% - 3 * 24px) / 4);
}

.img-icons{
    width: 264px;
    height: 112px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #f4f4fd; 
    border-radius: 4px; 
    margin-bottom: 8px; 
}


.list-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    color: var(--b-color);
    max-width: 496px; 
    margin-bottom: 8px; 
} 

.section-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

                                /***** section 3 *****/
.to-do{
padding-bottom: 120px;
}

.section-name{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--b-color);
    margin-bottom: 72px; 

}

.do-it{
    width: calc((100% - 48px) / 3);
}

                                /***** section 4 *****/
.section-team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-member{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px; 
    width: calc((100% - 72px) / 4); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.personage{
    padding: 32px 0px;
}

.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--b-color);
    text-align: center;
    margin-bottom: 8px;
}

.duties{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center; 
}

.social-list{
    display: flex; 
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-media{
    width: 40px; 
    height: 40px; 

}

.media{
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.media:focus,
.media:hover{
    background-color: #404bbf; 
}

.svg-icon{
    fill:#f4f4fd;
}


                                /***** section 5 *****/

.corporation{
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers{
    font-size: 36px;
    line-height: 1.11;
    color:#2e2f42;
    margin-bottom: 72px; 
    text-align: center;
}

.cust-list{
    display: flex;
    gap: 24px;
}

.cast-element{
    width: calc((100% - 120px) / 6); 
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.cast-link{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: var(--c-cast);
    border-color: #404bbf;
    border: 1px solid #8e8f99;
}

.cast-link:hover,
.cast-link:focus{
    border-color: #404bbf;
    color: #404bbf; 
}

.cast-logo{
    fill: currentColor; 
}


                                /***** footer *****/
.footer{
    background-color: var(--b-color);
    padding: 100px 0;
}

.footer-div{
    display: flex; 
    align-items: baseline;
}

.foot-con-1{
    margin-right: 120px ; 
}

.span-footer{
    color: #f4f4fd;
}

.footer-text{
    line-height: 24px;
    width:  264px ;
    letter-spacing: 0.02em ;
    color: var(--button-bc);
}

.logo-footer{
    font-family: "Raleway",  sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.media-text{
    font-weight: 500 ;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--background-color);
    margin-bottom: 16px; 
}

.social-list-foot{
    display: flex;
    gap: 16px;

}

.social-media-foot{
    width: 40px; 
    height: 40px; 
}

.media-foot{
    width: 100%;
    height: 100%;
    background-color:var(--button-color);
    border-radius:50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-foot:focus,.media-foot:hover{
    background-color: #31d0aa; 
}

.svg-foot{
    fill: var(--button-bc);
}







            /***************************** PORTFOLIO *******************************/
                                /***** main-portfolio *****/
.main-portfolio{
    padding-top: 96px;
}


                                /***** navigation-portfolio *****/
.button-all{
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-color);
    background-color: var(--button-bc);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-button);
    border-radius: 4px;   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }

.button-all:hover,
.button-all:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button{

}

.prt-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px
}

                                /***** card-portfolio *****/

.card-card{    
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;}


.card{
    display: block;
}
.card:hover,.card:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.img-conteiner-prt{
    position: relative; 
    overflow: hidden;

}

.text-img-paragraf{
    position: absolute; 
    top: 0; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-bc);
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%; 
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.card-list{
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.conteiner-card{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.product{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    color: var(--b-color);
    margin-bottom: 8px;
}

.product-type{
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color:var(--pt-color);
}

        /*================MODAL==============*/
.modal{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    

}
.is-hidden{
    opacity: 0;
    visibility: hidden; 
    pointer-events: none; 

}

.mod-icon-dtn{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    width: 408px; 
    min-height: 584px;
    background: #fcfcfc; 
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.data-modal-close-btn:focus,
.data-modal-close-btn:hover{
    background-color: #404bbf; 
    border: none; 
    fill: #ffffff;
}

.data-modal-close-btn{
    position: absolute; 
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.svg-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
